@media (max-width: 450px) {
  .ul-div {
    position: absolute;
    background: rgb(33, 37, 41);
    width: 100%;
    left: 0;
    top: 2.2rem;
    padding: 1rem;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }
  nav .container-fluid ul li a::after {
   display: none;
  }

  /* .content-container{
    margin-top: 35%;
  } */
  .content-container .header-content a{
    width: 40%;
  }

  header .content-container{
    margin-top: 50%;
  }


    /* contact us */
    .contact-section{
      display: flex;
      flex-direction: column-reverse;
    }
    .contact-section .contact-left{
      position: unset;
    }

    .contact-right form .input-groups {
      width: 100%;
    }

}




@media (min-width: 451px) and (max-width:767px){
  .ul-div {
    position: absolute;
    background: rgb(33, 37, 41);
    width: 100%;
    left: 0;
    top: 2.2rem;
    padding: 1rem;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  nav .container-fluid ul li a::after {
    display: none;
   }

  /* .content-container{
    margin-top: 35%;
  } */

  /* .content-container .header-content h1 {
    font-weight: 600;
    font-size: 1.8rem;
  } */


  /* contact us */
  .contact-section{
    display: flex;
    flex-direction: column-reverse;
  }
  .contact-section .contact-left{
    position: unset;
  }

  .contact-right form .input-groups {
    width: 85%;
  }
}

@media (min-width:768px) {
  /* .content-container{
    margin-top: 45%;
    line-height: 2rem;
  }
  .content-container .header-content{
    line-height: 5rem;
  } */
}
